


#container {
    height: 400px;
    width: 100%;
    background-color: #fefefe;
}

header {
    width: 80%;
    height: 200px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: #65a590;
}